.form {
    padding-top: 10vh;
}

body {
    background-color: rgb(35, 35, 40    );
}

h1{
    color: white;
}

p{
    color: white;
}

a{  
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}

.separation{
    margin-top: 7vh;
    margin-bottom: 5vh;
    border-bottom: solid #ffffff;

}

strong{
    color: white;
}

