.form {
    padding-top: 10vh;
}

body {
    background-color: rgb(35, 35, 40    );
}

h1{
    color: white;
}

h4 {
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

p{
    color: white;
}

a{  
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}

.separation{
    margin-top: 7vh;
    margin-bottom: 17vh;
    border-bottom: solid #ffffff;

}

strong{
    color: white;
}

.logo{
    height: 10%;
}
