<div id="<%= dom_id playlist %>">
  <p>
    <strong>Song:</strong>
    <%= playlist.song %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%=playlist.image %>" width="300px" height="auto">
  </p>

</div>
