<div class="row">
  <% @playlists.each do |playlist| %>
    <div class="col-lg-3 mb-4">
      <%= link_to playlist do %>
        <img src="<%=playlist.image %>" class="img-fluid">
      <% end %>
    </div>
  <% end %>
</div>
