<body>
<p style="color: green"><%= notice %></p>

<h1>Playlists</h1>

<div id="playlists">
  <% @playlists.each do |playlist| %>
    <%= render playlist %>
    <p>
    
      <button class="btn btn-success"><%= link_to "Show this playlist", playlist %></button>
    </p>
  <% end %>
</div>

<button class="btn btn-success"><%= link_to "New playlist", new_playlist_path %></button>
</body>